{% include 'base.html' %}
{% include 'nav.html' %}
{% block content %}

{% if error == "no"  %}
<script>
    alert('logged in successfully')
    window.location = "{% url 'dashboard' %}"
</script>
{% endif %}
    
{% if error == "yes"  %}
<script>
    alert('Invalid login credentials.Try Again')
</script>
{% endif %}

<div class="container">
    <h2 class="text-center">Admin login</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="uname">Admin Name</label>
        <input type="text" class="form-control" name="uname" id="uname">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" name="pwd" id="pwd">

        <input type="submit" value="Login" class="form-control btn btn-primary mt-2">
    </form>
</div>
{% endblock content %}
{% include 'footer.html' %}
